
{% extends "base.html" %}
{% block content %}


    {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}

    <div class="my-9 w-1/2 mx-auto">

        <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
                <p>
                    <label for="{{field.id_for_label}}">{{field.label}}</label>

                    {{field}}

                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            {% endfor %}
        <button type="submit" class=" my-3 px-1 py-2 bg-blue-500 text-white rounded-lg">Sign In</button>
    </form>

    </div>

    {% endblock content %}
    