{% extends "base.html" %}
{% block content %}

    <div class="p-5">
        <section class="bg-blue-50 py-20">
            <div class="mx-auto mb-4">
                <h2 class="text-2xl md:text-3xl mb-4 font-semibold">Plan your event unique way</h2>
                <p clas="text-gray-500 mb-5">For Any event we help you to doing well</p>
                <a href="" class="inline-block bg-blue-500 text-white px-5 py-3 rounded">Get Started</a>
            </div>
        </section>
    </div>

  {% endblock content %}