    {% extends "dashboard/dashboard.html" %} 
    
    {% block title %}Event Dashboard{% endblock title %}
    
    {% block event %}

      {% comment %} events {% endcomment %}

      <div class="items-center ">
            <form method="GET" action="">
                <input type="text" name="name" placeholder="Search by name"  class="border border-black rounded-md">
                <button type="submit">Search</button>
            </form>
        </div >
        
            <div class="mt-5 bg-white rounded-xl shadow-sm">
                <div class=" grid grid-cols-2 border-b border-black text-lg text-black">
                        <div class="font-semibold p-3">Events</div>
                </div>
            </div >
        
        <div class="mb-9">
                {% for event in result %}
                    <div class="border rounded-md border-black text-lg text-black">
                    <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-2 p-4 gap-2">
                    <div class=" items-center gap-2">
                        <a class="text-black font-semibold" href="{% url 'event-detials' event.id %}">{{event.name}}</a>
                            
                    </div>
                    {% if type == "upcoming" or type == "all" %}
                        <div>
                            <form action="{% url 'rspv-event' event.id %}" method="POST">
                                {% csrf_token %}
                                <button class="px-2 py-1 bg-blue-500 text-white">RSVP</button>
                            </form>
                        
                        </div>

                    {% endif %}
                </div>
                </div>
                </div>
                {% endfor %}
        </div>
        
        

        

    {% endblock event %} 